* {
    margin: 0;
    padding: 0;
}

/*横向き*/
@media screen and (orientation: landscape) {
    #main {
        display: grid;
        grid-template-columns: 12vh 12vh 12vh;
        grid-template-rows: 12vh 12vh 12vh;
    }

    .hint_block {
        border: 1px solid;
        background-color: lightblue;
        font-size: 4vh;
        padding: 2vh;
        text-align: center;
    }

    .input_block {
        border: 1px solid;
        font-size: 6vh;
        text-align: center;
        line-height: 12vh;
    }

    .button {
        border: 1px solid;
        width: 12vh;
        height: 12vh;
        font-size: 8vh;
        text-align: center;
    }
}

/*縦向き*/
@media screen and (orientation: portrait) {
    #main {
        display: grid;
        grid-template-columns: 33vw 33vw 33vw;
        grid-template-rows: 33vw 33vw 33vw;
    }

    .hint_block {
        border: 1px solid;
        background-color: lightblue;
        font-size: 12vw;
        padding: 8vw;
        text-align: center;
    }

    .input_block {
        border: 1px solid;
        font-size: 18vw;
        text-align: center;
        line-height: 33vw;
    }

    .button {
        width: 33vw;
        height: 20vw;
        border: 2px solid;
        font-size: 12vw;
        text-align: center;
    }
}



#popWin {
    position: absolute;
    top: 0vh;
    display: none;
}

.pop-win {
    width: 24vh;
    height: 8vh;
    border: 1vw solid;
    color: black;
    background-color: white;
    margin: 1vh;
    font-size: 4vh;
    color: green;
    text-align: center;
}

#close {
    color: black;
    position: absolute;
    top: 0vh;
    right: 0vw;
    cursor: pointer;
    font-size: 4vh;
}

.new_question {
    font-size: 2vh;
}